.question {
  background: #fefefe;
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 16px 18px 12px 18px;

  & + .question {
    margin-top: 8px; // toda question que vier seguida de outra question, add 8px de margin na segunda question
  }

  
  &.highlighted {
    background: #e9e4d9;
    border: 1px solid #cf9c35;
    
    footer .user-info span {
      color: #29292e;
    }
  }
  
  &.answered {
    background: #dbdcdd;
  }

  p {
    color: #29292e;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 24px;
    gap: 0.5rem;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: #737380;
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: #737380;
        gap: 8px;

        &.liked {
          color: #e4ad;

          svg path {
            stroke: #e4ad;
          }
        }
      }

      &:hover {
        filter: brightness(0.7);
      }
    }

    @media (min-width: 840px) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;


      footer {
        gap: unset;
      }

      .user-info {
        img {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  @media (min-width: 840px) {
    padding: 24px;
  }
}